:root{
    --background: white;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: black
}

[data-theme = 'dark']{
    --background: black;
    --text-primary: white;
    --button-bg: black;
    --button-text: black
}
.light-dark-mode {
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
}